.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.grid-item {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin : 20px;
    border-radius: 50px;
    /* display: inline-block;
    vertical-align: middle; */
}
